{% extends 'base.html' %}


{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
    </div>

{% endfor %}


    <h3>  Account Creation </h3>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.firstName.label(class="form-label") }}
        {{ form.firstName(class="form-control") }}

        {{ form.lastName.label(class="form-label") }}
        {{ form.lastName(class="form-control") }}

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}

        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br/>
        {{ form.submit(class="btn-secondary") }}

    </form>



{% endblock %}
