
<style>
    .bg-custom {
            background-color: #220009;
        }
</style>




<nav class="navbar navbar-expand-lg navbar-dark bg-custom"> <!-- navbar-expand-lg navbar-light bg-light -->
    <a class="navbar-brand" href="#">Pick A Fit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addClothes') }}">Add Clothes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('clothesList') }}">Clothes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('favorites') }}">Favorites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('createUser') }}">Create Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
        </li>
        </ul>
    </div>
    </nav>